<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="javascripts/todo_ajax.js" defer></script>
  <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <meta name="google-signin-client_id" content="335947766900-g7sam2plsiq165hq68d3d9oa1q8lralc.apps.googleusercontent.com">
</head>
<body>
<div id="vue_todo">

<header class="heading">
    <div class="main_head">
    <img class="logo" src="images/logo.jpg" alt="logo">To-do<div class="time" v-cloak>Current date: {{ date }} </div><button onclick="logout(), signOut()"  class="logout">Logout</button>
    </div>
</header>

<div class="menu">
    <button onclick="home()" class="menu_button">Home</button>
    <button onclick="profile()" class="menu_button">Profile</button>
    <button onclick="todo()" class="menu_button current_menu">To-do</button>
    <button onclick="groups()" class="menu_button">Groups</button>
    <button onclick="manage()" class="menu_button">Manage</button>
    <div class="filler"></div>
</div>

<div class="content">

<div v-for="(tasks, index) in tasks">
<p class="todo_title"v-cloak>{{ tasks.name }}  |  Due date: {{ tasks.due_date }}</p>
<button class="todo_button" v-if="tasks.progress === 0" @click="mark_complete(index)" v-cloak>Mark as complete</button>
<button class="todo_button" v-if="tasks.progress === 1" @click="unmark_complete(index)" v-cloak>Unmark as complete</button>
</div>

</div>





</div>
</body>
<script src="javascripts/ajax.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="javascripts/google.js"></script>
</html>